.tickets-page {
  font-family: "Crimson Text", serif;
}

.tickets-page-title {
  font-size: 55px;
  text-align: center;
  margin-top: 20px;
}

.tickets-page-date {
  text-align: center;
}

.tickets-page-description {
  text-align: center;
}

.btn-link.create-ticket {
  font-family: "Crimson Text", serif;
  font-size: 25px;
  margin: 0;
  color: black;
  text-decoration: none;
}

.btn-link.create-ticket:hover {
  text-decoration: none;
  color: grey;
}

.tickets-wrapper {
  width: 1000px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
